* {
  padding: 0;
  margin: 0;
}

.registeration,
.login {
  background-color: #222;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fa-twitter {
  font-size: 40px;
  padding-bottom: 5%;
  padding-top: 3%;
  text-align: center;
}

.form {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
  /* background-color: #444; */
  border: 2px solid #444;
  border-radius: 5px;
}

input {
  width: 300px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  margin-top: 25px;
  padding: 10px;
  border: none;
  border: 2px dashed #fff;
  border-radius: 6px;
}

button {
  padding: 10px;
  width: 400px;
  margin-top: 40px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ebe7e7;
  font-size: 14px;
}

button:hover {
  background-color: #c7c5c5;
}

p {
  color: #999;
  font-size: 16px;
  margin-top: 10px;
}
p a,
a {
  text-decoration: none;
  color: skyblue;
  margin-top: 10px;
  font-size: 16px;
}

.create {
  display: flex;
}

.create p {
  margin-right: 5px;
}
